.header {
    grid-area: header;
    padding:0 1rem 0 1rem;
    background-color: var(--bg-header);
    color: var(--text-header);
}

.brand-row {
    display: flex;
    align-items: center;
    gap: 2rem;    
}

.brand-row h1 {
    margin-right: auto; 
}


.header-profile {
    position: relative;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-profile {
    position: absolute;
    top: 60px;
    right: 20px;
    background: var(--bg-dropdown-profile);
    border: 1px solid #F2F2F2;
    padding: 10px;
    z-index: 10;
}

.profile-name {
    font-weight: bold;
}

.profile-link {
    white-space: nowrap;
    color: var(--link-profile);
}

.profile-link:hover {
    color: var(--link-profile-hover);
}

.menu-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0;
    list-style-type: none;   
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--link-dropdown);
}

.dropdown-menu a:hover {
    background-color: var(--bg-dropdown-menu-hover);
}

@media (max-width: 44rem) {
    .brand-row {
        width: 100%;
        justify-content: flex-start;
        gap: 1rem;
    }


    .brand-row h1 {
        margin-right: 0;
        flex: 1;
    }

    .header-profile {
        margin-right: 3.5rem; 
    }   
    
    .menu-button { 
        display: inline; 
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 200;
    }

    .menu-button[aria-expanded="true"]::before { content: "\2716"; }

    .menu-button[aria-expanded="false"]::before { content: "\2630"; }


    .menu {
        display: none;
        position: absolute;
        z-index: 10;
        right: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        padding: 1rem;
        border: black solid 1px;
        background-color: var(--bg-menu);
    }
    
    .show {
        display: block;
        width: max-content;
    }

    .dropdown-menu {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    
    .dropdown-menu li {
        padding:  0;
        margin: 0;
    }
}