.theme {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}
.theme-icon {
    width: 24px;
    height: 24px;
}

[data-theme='dark'] .theme {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .theme:hover {
    background-color: rgba(255, 255, 255, 0.2);
}