.register {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    background-color: var(--bg-register); 
    border: 1px solid #F2F2F2;   
    border-radius: 10px;      
    padding: 2rem;
    margin: 2rem auto;
    box-shadow: 0 6px 16px rgba(217, 43, 76, 0.15);
}

.required {
    color: #D92B4C;
}

.form-info {
    margin: 0;
    font-size: 0.85rem;
    color: #A3C672;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-direction: row;

}

.submit-button {
    padding: 0.75rem;
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--bg-submit-button);
    color: white;
}

.submit-button:hover {
    background-color: var(--bg-submit-button-hover);
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}
.error-message {
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
}

.modal {
    background-color: var(--bg-modal);
    color: var(--text--modal);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(217, 43, 76, 0.25);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal h2 {
     margin-bottom: 0.5rem;
}

.close-button {
    background-color: var(--bg-close-button);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.close-button:hover {
    background-color: var(--bg-close-button-hover);
}

@media (min-width: 44rem) {
    .form-group {
        display: grid;
        grid-template-columns: 160px 1fr auto;
        align-items: center;
        column-gap: 1rem;
        position: relative;
    }

    .form-group label {
        text-align: right;
    }

    .form-group input:not([type="checkbox"]),.form-group select {
        width: 100%;
    }

    .checkbox-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkbox-group label {
        text-align: left;
        width: auto;
    }
}